body,
html {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

.bg {
    background-image: url("https://user-images.githubusercontent.com/51374446/195588261-f81ac4dc-ff32-4c65-81e9-6ce3f92a1528.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    padding-top: 20px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}


.btn {
    background-color: #90305F;
    border: none;
    margin-top: 50px;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    width: 220px;
    border-radius: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.btn:hover {
    background-color: #603CC2;
    text-align: center;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: #603CC2;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
}

img {
    width: 100px;
}